<div>
  <p>
    <span>Производитель</span>
    <span class="ml-2">{{ makes.length }}</span>
  </p>
  <!-- makes filter -->
  <div>
    <input
      (input)="MakesFilter($event.target.value)"
      (keydown.Backspace)="MakesFilterBackspace($event.target.value)"
      class="form-control"
      type="text"
      placeholder="Поиск"
    />
  </div>
</div>

<!-- makes -->
<div class="mt-3">
  <p>Алфавитный указатель</p>
  <div>
    <div
      *ngFor="let make of makes"
      class="custom-control custom-checkbox mr-sm-2 my-2"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        (click)="CheckboxChanged($event, 'make')"
        [checked]="make.checked"
        id="make_{{ make.name }}"
      />
      <label class="custom-control-label" for="make_{{ make.name }}">{{
        make.name
      }}</label>
      <span class="ml-3">({{ make.count }})</span>
    </div>
  </div>
</div>

<!-- price -->
<div class="mt-5">
  <p>Цена</p>

  <form>
    <div class="row mx-0">
      <input
        [(ngModel)]="priceMin"
        type="number"
        name="priceMin"
        class="form-control col-4"
      />
      <span></span>
      <input
        [(ngModel)]="priceMax"
        type="number"
        name="priceMax"
        class="form-control col-4 ml-1"
      />
      <button
        (click)="PriceRangeChanged()"
        type="submit"
        class="btn btn-primary col-3 ml-1"
      >
        Ok
      </button>
    </div>
  </form>
</div>

<!--specific for cpu -->
<div *ngIf="categoryId == service.Category.Cpu">
  <!-- количество ядер -->
  <div class="mt-5">
    <p>Количество ядер</p>
    <div>
      <div
        *ngFor="let core of cpu_cores"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="core.checked"
          (click)="CheckboxChanged($event, 'countOfCores')"
          id="core_{{ core.name }}"
        />
        <label class="custom-control-label" for="core_{{ core.name }}">{{
          core.name
        }}</label>
        <span class="ml-3">({{ core.count }})</span>
      </div>
    </div>
  </div>

  <!-- количество потоков -->
  <div class="mt-5">
    <p>Количество потоков</p>
    <div>
      <div
        *ngFor="let thread of cpu_threads"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="thread.checked"
          (click)="CheckboxChanged($event, 'countOfThreads')"
          id="thread_{{ thread.name }}"
        />
        <label class="custom-control-label" for="thread_{{ thread.name }}">{{
          thread.name
        }}</label>
        <span class="ml-3">({{ thread.count }})</span>
      </div>
    </div>
  </div>

  <!-- с графикой и без -->
  <div class="mt-5">
    <p>Интегрированная графика</p>
    <div>
      <div
        *ngFor="let graphic of cpu_graphics"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="graphic.checked"
          (click)="CheckboxChanged($event, 'graphics')"
          id="graphic_{{ graphic.name }}"
        />
        <label class="custom-control-label" for="graphic_{{ graphic.name }}">{{
          graphic.name
        }}</label>
        <span class="ml-3">({{ graphic.count }})</span>
      </div>
    </div>
  </div>

  <!-- техпроцесс -->
  <div class="mt-5">
    <p>Техпроцесс</p>
    <div>
      <div
        *ngFor="let tech of cpu_techs"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="tech.checked"
          (click)="CheckboxChanged($event, 'techProcess')"
          id="tech_{{ tech.name }}"
        />
        <label class="custom-control-label" for="tech_{{ tech.name }}"
          >{{ tech.name }} нм</label
        >
        <span class="ml-3">({{ tech.count }})</span>
      </div>
    </div>
  </div>
</div>

<!--specific for ssd and hdd-->
<div
  *ngIf="
    categoryId == service.Category.Ssd || categoryId == service.Category.Hdd
  "
>
  <!-- capacity -->
  <div class="mt-5">
    <p>Емкость диска</p>
    <div>
      <div
        *ngFor="let capacity of disk_capacities"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="capacity.checked"
          (click)="CheckboxChanged($event, 'capacity')"
          id="capacity_{{ capacity.name }}"
        />
        <label class="custom-control-label" for="capacity_{{ capacity.name }}"
          >{{ capacity.name }} Gb</label
        >
        <span class="ml-3">({{ capacity.count }})</span>
      </div>
    </div>
  </div>

  <!-- read speed -->
  <div class="mt-5">
    <p>Скорость чтения</p>
    <div>
      <div
        *ngFor="let read of disk_readSpeeds"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="read.checked"
          (click)="CheckboxChanged($event, 'readSpeed')"
          id="read_{{ read.name }}"
        />
        <label class="custom-control-label" for="read_{{ read.name }}"
          >{{ read.name }} Mb/s</label
        >
        <span class="ml-3">({{ read.count }})</span>
      </div>
    </div>
  </div>
</div>

<!--specific for keyboard -->
<div *ngIf="categoryId == service.Category.Keyboard">
  <!-- способы подключения -->
  <div class="mt-5">
    <p>Способ подключения</p>
    <div>
      <div
        *ngFor="let connection of keyboard_ConnectionTypes"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="connection.checked"
          (click)="CheckboxChanged($event, 'connectionType')"
          id="conn_{{ connection.name }}"
        />
        <label class="custom-control-label" for="conn_{{ connection.name }}">{{
          connection.name
        }}</label>
        <span class="ml-3">({{ connection.count }})</span>
      </div>
    </div>
  </div>

  <!-- интерфейсы подключения -->
  <div class="mt-5">
    <p>Интерфейс подключения</p>
    <div>
      <div
        *ngFor="let interface of keyboard_Interfaces"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="interface.checked"
          (click)="CheckboxChanged($event, 'interface')"
          id="interface_{{ interface.name }}"
        />
        <label
          class="custom-control-label"
          for="interface_{{ interface.name }}"
          >{{ interface.name }}</label
        >
        <span class="ml-3">({{ interface.count }})</span>
      </div>
    </div>
  </div>

  <!-- типы клавиатур -->
  <div class="mt-5">
    <p>Типы клавиатуры</p>
    <div>
      <div
        *ngFor="let keyboardType of keyboard_Types"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="keyboardType.checked"
          (click)="CheckboxChanged($event, 'type')"
          id="type_{{ keyboardType.name }}"
        />
        <label
          class="custom-control-label"
          for="type_{{ keyboardType.name }}"
          >{{ keyboardType.name }}</label
        >
        <span class="ml-3">({{ keyboardType.count }})</span>
      </div>
    </div>
  </div>
</div>

<!--specific for monitor -->
<div *ngIf="categoryId == service.Category.Monitor">
  <!-- диагонали -->
  <div class="mt-5">
    <p>Размер диагонали</p>
    <div>
      <div
        *ngFor="let monitorSize of monitor_Sizes"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="monitorSize.checked"
          (click)="CheckboxChanged($event, 'size')"
          id="size_{{ monitorSize.name }}"
        />
        <label class="custom-control-label" for="size_{{ monitorSize.name }}">{{
          monitorSize.name
        }}</label>
        <span class="ml-3">({{ monitorSize.count }})</span>
      </div>
    </div>
  </div>

  <!-- частота обновления -->
  <div class="mt-5">
    <p>Частота обновления</p>
    <div>
      <div
        *ngFor="let monitorFr of monitor_Freqs"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="monitorFr.checked"
          (click)="CheckboxChanged($event, 'frequency')"
          id="freq_{{ monitorFr.name }}"
        />
        <label class="custom-control-label" for="freq_{{ monitorFr.name }}"
          >{{ monitorFr.name }} Гц</label
        >
        <span class="ml-3">({{ monitorFr.count }})</span>
      </div>
    </div>
  </div>

  <!-- разрешение экрана -->
  <div class="mt-5">
    <p>Разрешение экрана</p>
    <div>
      <div
        *ngFor="let monitorRes of monitor_Resolutions"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="monitorRes.checked"
          (click)="CheckboxChanged($event, 'resolution')"
          id="res_{{ monitorRes.name }}"
        />
        <label class="custom-control-label" for="res_{{ monitorRes.name }}">{{
          monitorRes.name
        }}</label>
        <span class="ml-3">({{ monitorRes.count }})</span>
      </div>
    </div>
  </div>

  <!-- типы матрицы-->
  <div class="mt-5">
    <p>Типы матрицы</p>
    <div>
      <div
        *ngFor="let monitorMatr of monitor_Matrixes"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="monitorMatr.checked"
          (click)="CheckboxChanged($event, 'matrixType')"
          id="matrx_{{ monitorMatr.name }}"
        />
        <label
          class="custom-control-label"
          for="matrx_{{ monitorMatr.name }}"
          >{{ monitorMatr.name }}</label
        >
        <span class="ml-3">({{ monitorMatr.count }})</span>
      </div>
    </div>
  </div>

  <!-- соотношения сторон-->
  <div class="mt-5">
    <p>Соотношение сторон</p>
    <div>
      <div
        *ngFor="let monitorAsp of monitor_AspectRatios"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="monitorAsp.checked"
          (click)="CheckboxChanged($event, 'aspectRatio')"
          id="aspr_{{ monitorAsp.name }}"
        />
        <label class="custom-control-label" for="aspr_{{ monitorAsp.name }}">{{
          monitorAsp.name
        }}</label>
        <span class="ml-3">({{ monitorAsp.count }})</span>
      </div>
    </div>
  </div>
</div>

<!--specific for motherboard -->
<div *ngIf="categoryId == service.Category.Motherboard">
  <!-- сокеты -->
  <div class="mt-5">
    <p>Типы сокета</p>
    <div>
      <div
        *ngFor="let socket of motherBoard_Sockets"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="socket.checked"
          (click)="CheckboxChanged($event, 'socket')"
          id="socket_{{ socket.name }}"
        />
        <label class="custom-control-label" for="socket_{{ socket.name }}">{{
          socket.name
        }}</label>
        <span class="ml-3">({{ socket.count }})</span>
      </div>
    </div>
  </div>

  <!-- форм фактор -->
  <div class="mt-5">
    <p>Форм фактор</p>
    <div>
      <div
        *ngFor="let factor of motherBoard_FormFactors"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="factor.checked"
          (click)="CheckboxChanged($event, 'formFactor')"
          id="ffactor_{{ factor.name }}"
        />
        <label class="custom-control-label" for="ffactor_{{ factor.name }}"
          >{{ factor.name }} Гц</label
        >
        <span class="ml-3">({{ factor.count }})</span>
      </div>
    </div>
  </div>

  <!-- поддержка памяти-->
  <div class="mt-5">
    <p>Поддержка памяти</p>
    <div>
      <div
        *ngFor="let memory of motherBoard_Memories"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="memory.checked"
          (click)="CheckboxChanged($event, 'memorySupport')"
          id="memname_{{ memory.name }}"
        />
        <label class="custom-control-label" for="memname_{{ memory.name }}">{{
          memory.name
        }}</label>
        <span class="ml-3">({{ memory.count }})</span>
      </div>
    </div>
  </div>

  <!-- видео выход-->
  <div class="mt-5">
    <p>Видео выход</p>
    <div>
      <div
        *ngFor="let video of motherBoard_Videos"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="video.checked"
          (click)="CheckboxChanged($event, 'videoExit')"
          id="vexit_{{ video.name }}"
        />
        <label class="custom-control-label" for="vexit_{{ video.name }}">{{
          video.name
        }}</label>
        <span class="ml-3">({{ video.count }})</span>
      </div>
    </div>
  </div>
</div>

<!--specific for mouse-->
<div *ngIf="categoryId == service.Category.Mouse">
  <!-- способы подключения -->
  <div class="mt-5">
    <p>Способ подключения</p>
    <div>
      <div
        *ngFor="let connection of mouse_ConnectionTypes"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="connection.checked"
          (click)="CheckboxChanged($event, 'connectionType')"
          id="conn_{{ connection.name }}"
        />
        <label class="custom-control-label" for="conn_{{ connection.name }}">{{
          connection.name
        }}</label>
        <span class="ml-3">({{ connection.count }})</span>
      </div>
    </div>
  </div>

  <!-- интерфейсы подключения -->
  <div class="mt-5">
    <p>Интерфейс подключения</p>
    <div>
      <div
        *ngFor="let interface of mouse_Interfaces"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="interface.checked"
          (click)="CheckboxChanged($event, 'interface')"
          id="interf_{{ interface.name }}"
        />
        <label class="custom-control-label" for="interf_{{ interface.name }}">{{
          interface.name
        }}</label>
        <span class="ml-3">({{ interface.count }})</span>
      </div>
    </div>
  </div>

  <!-- размер мышки -->
  <div class="mt-5">
    <p>Размер мышки</p>
    <div>
      <div
        *ngFor="let size of mouse_Sizes"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="size.checked"
          (click)="CheckboxChanged($event, 'size')"
          id="size_{{ size.name }}"
        />
        <label class="custom-control-label" for="size_{{ size.name }}">{{
          size.name
        }}</label>
        <span class="ml-3">({{ size.count }})</span>
      </div>
    </div>
  </div>

  <!-- назначение-->
  <div class="mt-5">
    <p>Назначение</p>
    <div>
      <div
        *ngFor="let purpose of mouse_Purposes"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="purpose.checked"
          (click)="CheckboxChanged($event, 'purpose')"
          id="purp_{{ purpose.name }}"
        />
        <label class="custom-control-label" for="purp_{{ purpose.name }}">{{
          purpose.name
        }}</label>
        <span class="ml-3">({{ purpose.count }})</span>
      </div>
    </div>
  </div>
</div>

<!--specific for ram-->
<div *ngIf="categoryId == service.Category.Ram">
  <!-- Объем памяти -->
  <div class="mt-5">
    <p>Объем памяти</p>
    <div>
      <div
        *ngFor="let capacity of ram_Capacities"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="capacity.checked"
          (click)="CheckboxChanged($event, 'capacity')"
          id="capcity_{{ capacity.name }}"
        />
        <label class="custom-control-label" for="capcity_{{ capacity.name }}"
          >{{ capacity.name }} Гб</label
        >
        <span class="ml-3">({{ capacity.count }})</span>
      </div>
    </div>
  </div>

  <!-- Тип памяти -->
  <div class="mt-5">
    <p>Тип памяти</p>
    <div>
      <div
        *ngFor="let memory of ram_MemoryTypes"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="memory.checked"
          (click)="CheckboxChanged($event, 'memoryType')"
          id="memtype_{{ memory.name }}"
        />
        <label class="custom-control-label" for="memtype_{{ memory.name }}">{{
          memory.name
        }}</label>
        <span class="ml-3">({{ memory.count }})</span>
      </div>
    </div>
  </div>

  <!-- Частота памяти -->
  <div class="mt-5">
    <p>Частота памяти</p>
    <div>
      <div
        *ngFor="let freq of ram_Frequncies"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="freq.checked"
          (click)="CheckboxChanged($event, 'frequency')"
          id="freq_{{ freq.name }}"
        />
        <label class="custom-control-label" for="freq_{{ freq.name }}"
          >{{ freq.name }} ГГц</label
        >
        <span class="ml-3">({{ freq.count }})</span>
      </div>
    </div>
  </div>

  <!-- назначение-->
  <div class="mt-5">
    <p>Назначение</p>
    <div>
      <div
        *ngFor="let purpose of ram_Purposes"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="purpose.checked"
          (click)="CheckboxChanged($event, 'purpose')"
          id="purp_{{ purpose.name }}"
        />
        <label class="custom-control-label" for="purp_{{ purpose.name }}">{{
          purpose.name
        }}</label>
        <span class="ml-3">({{ purpose.count }})</span>
      </div>
    </div>
  </div>
</div>

<!--specific for video card-->
<div *ngIf="categoryId == service.Category.Videocard">
  <!-- Объем памяти -->
  <div class="mt-5">
    <p>Объем памяти</p>
    <div>
      <div
        *ngFor="let capacity of videoCard_MemorySizes"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="capacity.checked"
          (click)="CheckboxChanged($event, 'memorySize')"
          id="memsize_{{ capacity.name }}"
        />
        <label class="custom-control-label" for="memsize_{{ capacity.name }}"
          >{{ capacity.name }} Гб</label
        >
        <span class="ml-3">({{ capacity.count }})</span>
      </div>
    </div>
  </div>

  <!-- Тип памяти -->
  <div class="mt-5">
    <p>Тип памяти</p>
    <div>
      <div
        *ngFor="let memory of videoCard_MemoryTypes"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="memory.checked"
          (click)="CheckboxChanged($event, 'memoryType')"
          id="memtype_{{ memory.name }}"
        />
        <label class="custom-control-label" for="memtype_{{ memory.name }}">{{
          memory.name
        }}</label>
        <span class="ml-3">({{ memory.count }})</span>
      </div>
    </div>
  </div>

  <!-- назначение-->
  <div class="mt-5">
    <p>Назначение</p>
    <div>
      <div
        *ngFor="let purpose of videoCard_Purposes"
        class="custom-control custom-checkbox mr-sm-2 my-2"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="purpose.checked"
          (click)="CheckboxChanged($event, 'purpose')"
          id="purp_{{ purpose.name }}"
        />
        <label class="custom-control-label" for="purp_{{ purpose.name }}">{{
          purpose.name
        }}</label>
        <span class="ml-3">({{ purpose.count }})</span>
      </div>
    </div>
  </div>
</div>
