<h2 class="text-center my-5">Что вы ищете?</h2>

<div class="row">
  <div class="col-md-3">
    <a [routerLink]="['/cpu']">
      <div class="category">
        <img src="/images/common/cpu.jpg" alt="cpu" />
        <p>Процессоры</p>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a [routerLink]="['/hdd']">
      <div class="category">
        <img src="/images/common/hdd.jpg" alt="hdd" />
        <p>Жесткие диски</p>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a [routerLink]="['/keyboard']">
      <div class="category">
        <img src="/images/common/keyboard.jpg" alt="keyboard" />
        <p>Клавиатуры</p>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a [routerLink]="['/monitor']">
      <div class="category">
        <img src="/images/common/monitor.jpg" alt="monitor" />
        <p>Мониторы</p>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <a [routerLink]="['/motherboard']">
      <div class="category">
        <img src="/images/common/motherboard.jpg" alt="motherboard" />
        <p>Материнские платы</p>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a [routerLink]="['/mouse']">
      <div class="category">
        <img src="/images/common/mouse.jpg" alt="mouse" />
        <p>Мышки</p>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a [routerLink]="['/ram']">
      <div class="category">
        <img src="/images/common/ram.jpg" alt="ram" />
        <p>Оперативная память</p>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a [routerLink]="['/ssd']">
      <div class="category">
        <img src="/images/common/ssd.jpg" alt="ssd" />
        <p>SSD диски</p>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <a [routerLink]="['/videocard']">
      <div class="category">
        <img src="/images/common/videocard.jpg" alt="videocard" />
        <p>Видеокарты</p>
      </div>
    </a>
  </div>
</div>
