<h3>{{ title }}</h3>
<!-- total count and reset filter button -->
<div class="row">
  <div class="col-7 text-right">
    <a
      *ngIf="showReset"
      class="btn btn-success offset-5"
      [routerLink]="['/' + componentName]"
      >Сбросить</a
    >
    <span class="ml-2">Выбрано {{ count }} товаров</span>
  </div>
  <!-- sort select-->
  <div class="col-3">
    <select class="form-control" (change)="SortProducts($event)">
      <option
        *ngFor="let option of sortOptions"
        [selected]="option.selected"
        [value]="option.value"
      >
        {{ option.name }}
      </option>
    </select>
  </div>

  <!-- toggle view buttons -->
  <div class="col-2">
    <div class="btn-group" role="group">
      <button
        type="button"
        (click)="ToggleView($event)"
        id="small"
        [ngClass]="{ active: view == 'col-3' }"
        class="btn btn-secondary"
      >
        Small
      </button>
      <button
        type="button"
        (click)="ToggleView($event)"
        id="large"
        [ngClass]="{ active: view == 'col-4' }"
        class="btn btn-secondary"
      >
        Large
      </button>
    </div>
  </div>
</div>
