<div *ngIf="cpu">
  <div>
    <a [routerLink]="['/']">Home</a>
    <span class="mx-2"> > </span>
    <a [routerLink]="['/processors']">Processors</a>
    <span class="mx-2"> > </span>
    <a [routerLink]="['/processors']" [queryParams]="{ make: cpu.make }"
      >Processors {{ cpu.make }}</a
    >
  </div>

  <div class="my-5">
    <h1>Процессор {{ cpu.name }}</h1>
  </div>

  <!-- tab panel -->
  <div class="row">
    <div class="col-9">
      <ul class="nav nav-tabs mb-5" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="features-tab"
            data-toggle="tab"
            href="#features"
            role="tab"
            aria-controls="features"
            aria-selected="true"
            >Характеристики</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="photo-tab"
            data-toggle="tab"
            href="#photo"
            role="tab"
            aria-controls="photo"
            aria-selected="false"
            >Фото</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="features"
          role="tabpanel"
          aria-labelledby="features-tab"
        >
          <div class="row">
            <ul class="col-4 list-unstyled">
              <li>Производитель</li>
              <li>Интегрированная графика</li>
              <li>Количество ядер</li>
              <li>Количество потоков</li>
              <li>Техпроцесс</li>
            </ul>
            <ul class="col-4 list-unstyled">
              <li>{{ cpu.make }}</li>
              <li>{{ cpu.graphics }}</li>
              <li>{{ cpu.countOfCores }} cores</li>
              <li>{{ cpu.countOfThreads }} threads</li>
              <li>{{ cpu.techProcess }} нм</li>
            </ul>
          </div>

          <small
            >* Характеристики и комплектация товара могут изменяться
            производителем без уведомления</small
          >
        </div>
        <div
          class="tab-pane fade"
          id="photo"
          role="tabpanel"
          aria-labelledby="photo-tab"
        >
          <div>
            <img
              width="500"
              class="my-3"
              *ngFor="let image of service.GetImages(cpu)"
              [src]="image"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mt-5">
      <div class="row">
        <div class="col-3">
          <img
            width="100"
            [src]="'images/parts/cpu/' + cpu.images.split(';')[0]"
          />
        </div>
        <div class="col-9 text-right">
          <p>Процессор {{ cpu.name }}</p>
        </div>
      </div>
      <div class="my-5">
        <h3>{{ cpu.price }} USD</h3>
        <div>
          <button
            (click)="service.AddItemToCart(cpu)"
            data-toggle="modal"
            data-target="#shoppingCart"
            class="btn btn-success col-12"
          >
            Купить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
