<div *ngIf="product">
  <div>
    <a [routerLink]="['/']">Все товары</a>
    <i class="fa fa-chevron-right icon" aria-hidden="true"></i>
    <a class="link" (click)="location.back()">Назад к списку товаров</a>
  </div>

  <div class="my-5">
    <h1>{{ nameOfCategory }} {{ product.make }} {{ product.name }}</h1>
  </div>

  <!-- tab panel -->
  <div class="row">
    <div class="col-lg-9">
      <ul class="nav nav-tabs mb-5" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="features-tab"
            data-toggle="tab"
            href="#features"
            role="tab"
            aria-controls="features"
            aria-selected="true"
            >Характеристики</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="photo-tab"
            data-toggle="tab"
            href="#photo"
            role="tab"
            aria-controls="photo"
            aria-selected="false"
            >Фото
            <span class="ml-2">{{ service.GetImages(product).length }}</span></a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="features"
          role="tabpanel"
          aria-labelledby="features-tab"
        >
          <!-- for cpu -->
          <div *ngIf="product.categoryId == service.Category.Cpu" class="row">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Производитель</td>
                  <td>{{ product.make }}</td>
                </tr>
                <tr>
                  <td>Интегрированная графика</td>
                  <td>{{ product.graphics }}</td>
                </tr>
                <tr>
                  <td>Количество ядер</td>
                  <td>{{ product.countOfCores }}</td>
                </tr>
                <tr>
                  <td>Количество потоков</td>
                  <td>{{ product.countOfThreads }}</td>
                </tr>
                <tr>
                  <td>Техпроцесс</td>
                  <td>{{ product.techProcess }} нм</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- for hdd -->
          <div *ngIf="product.categoryId == service.Category.Hdd" class="row">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Производитель</td>
                  <td>{{ product.make }}</td>
                </tr>
                <tr>
                  <td>Модель</td>
                  <td>{{ product.name }}</td>
                </tr>
                <tr>
                  <td>Емкость диска</td>
                  <td>{{ product.capacity }} Гб</td>
                </tr>
                <tr>
                  <td>Скорость чтения</td>
                  <td>{{ product.readSpeed }} Мб/с</td>
                </tr>
                <tr>
                  <td>Скорость записи</td>
                  <td>{{ product.writeSpeed }} Мб/с</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- for keyboards -->
          <div
            *ngIf="product.categoryId == service.Category.Keyboard"
            class="row"
          >
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Производитель</td>
                  <td>{{ product.make }}</td>
                </tr>
                <tr>
                  <td>Модель</td>
                  <td>{{ product.name }}</td>
                </tr>
                <tr>
                  <td>Тип подключения</td>
                  <td>{{ product.connectionType }}</td>
                </tr>
                <tr>
                  <td>Тип интерфейса</td>
                  <td>{{ product.interface }}</td>
                </tr>
                <tr>
                  <td>Тип клавиатуры</td>
                  <td>{{ product.type }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- for monitors -->
          <div
            *ngIf="product.categoryId == service.Category.Monitor"
            class="row"
          >
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Производитель</td>
                  <td>{{ product.make }}</td>
                </tr>
                <tr>
                  <td>Модель</td>
                  <td>{{ product.name }}</td>
                </tr>
                <tr>
                  <td>Диагональ монитора</td>
                  <td>{{ product.size }}"</td>
                </tr>
                <tr>
                  <td>Частота обновления</td>
                  <td>{{ product.frequency }} Гц</td>
                </tr>
                <tr>
                  <td>Разрешение монитора</td>
                  <td>{{ product.resolution }}</td>
                </tr>
                <tr>
                  <td>Тип матрицы</td>
                  <td>{{ product.matrixType }}</td>
                </tr>
                <tr>
                  <td>Соотношение сторон</td>
                  <td>{{ product.aspectRatio }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- for motherboard -->
          <div
            *ngIf="product.categoryId == service.Category.Motherboard"
            class="row"
          >
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Производитель</td>
                  <td>{{ product.make }}</td>
                </tr>
                <tr>
                  <td>Модель</td>
                  <td>{{ product.name }}</td>
                </tr>
                <tr>
                  <td>Тип сокета</td>
                  <td>{{ product.socket }}</td>
                </tr>
                <tr>
                  <td>Форм фактор</td>
                  <td>{{ product.formFactor }}</td>
                </tr>
                <tr>
                  <td>Поддерживаемая память</td>
                  <td>{{ product.memorySupport }} ГГц</td>
                </tr>
                <tr>
                  <td>Видео выход</td>
                  <td>{{ product.videoExit }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- for mouse-->
          <div *ngIf="product.categoryId == service.Category.Mouse" class="row">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Производитель</td>
                  <td>{{ product.make }}</td>
                </tr>
                <tr>
                  <td>Модель</td>
                  <td>{{ product.name }}</td>
                </tr>
                <tr>
                  <td>Тип подключения</td>
                  <td>{{ product.connectionType }}</td>
                </tr>
                <tr>
                  <td>Размер мышки</td>
                  <td>{{ product.size }}</td>
                </tr>
                <tr>
                  <td>Интерфейс подключения</td>
                  <td>{{ product.interface }}</td>
                </tr>
                <tr>
                  <td>Назначение</td>
                  <td>{{ product.purpose }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- for ram -->
          <div *ngIf="product.categoryId == service.Category.Ram" class="row">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Производитель</td>
                  <td>{{ product.make }}</td>
                </tr>
                <tr>
                  <td>Модель</td>
                  <td>{{ product.name }}</td>
                </tr>
                <tr>
                  <td>Количесто памяти</td>
                  <td>{{ product.capacity }} Гб</td>
                </tr>
                <tr>
                  <td>Тип памяти</td>
                  <td>{{ product.memoryType }}</td>
                </tr>
                <tr>
                  <td>Частота работы</td>
                  <td>{{ product.frequency }} ГГц</td>
                </tr>
                <tr>
                  <td>Назначение</td>
                  <td>{{ product.purpose }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- for ssd -->
          <div *ngIf="product.categoryId == service.Category.Ssd" class="row">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Производитель</td>
                  <td>{{ product.make }}</td>
                </tr>
                <tr>
                  <td>Модель</td>
                  <td>{{ product.name }}</td>
                </tr>
                <tr>
                  <td>Емкость диска</td>
                  <td>{{ product.capacity }} Гб</td>
                </tr>
                <tr>
                  <td>Скорость чтения</td>
                  <td>{{ product.readSpeed }} Мб/с</td>
                </tr>
                <tr>
                  <td>Скорость записи</td>
                  <td>{{ product.writeSpeed }} Мб/с</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- for videocard-->
          <div
            *ngIf="product.categoryId == service.Category.Videocard"
            class="row"
          >
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Производитель</td>
                  <td>{{ product.make }}</td>
                </tr>
                <tr>
                  <td>Модель</td>
                  <td>{{ product.name }}</td>
                </tr>
                <tr>
                  <td>Объем видеопамяти</td>
                  <td>{{ product.memorySize }} Гб</td>
                </tr>
                <tr>
                  <td>Тип памяти</td>
                  <td>{{ product.memoryType }}</td>
                </tr>
                <tr>
                  <td>Назначение</td>
                  <td>{{ product.purpose }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <small
            >* Характеристики и комплектация товара могут изменяться
            производителем без уведомления</small
          >
        </div>
        <div
          class="tab-pane fade"
          id="photo"
          role="tabpanel"
          aria-labelledby="photo-tab"
        >
          <!-- coriusel -->
          <div
            class="col-12"
            id="carouselExampleCaptions"
            class="carousel slide"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              <li
                *ngFor="
                  let image of service.GetImages(product);
                  let index = index
                "
                data-target="#carouselExampleCaptions"
                [attr.data-slide-to]="index"
                style="filter: contrast(0.5)"
                [ngClass]="{ active: index == 0 }"
              ></li>
            </ol>
            <div class="carousel-inner">
              <div
                *ngFor="
                  let image of service.GetImages(product);
                  let index = index
                "
                [ngClass]="{ active: index == 0 }"
                [ngStyle]="{
                  backgroundImage: 'url(' + image + ' )'
                }"
                class="carousel-item"
                style="
                  height: 300px;
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                "
              ></div>

              <!-- <div
                *ngFor="
                  let image of service.GetImages(product);
                  let index = index
                "
                [ngClass]="{ active: index == 0 }"
                class="carousel-item"
                style="width: 550px; height: 350px"
              >
                <img [src]="image" style="height: 100%" alt="..." />
              </div> -->
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleCaptions"
              role="button"
              data-slide="prev"
            >
              <span
                style="filter: contrast(0.5)"
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleCaptions"
              role="button"
              data-slide="next"
            >
              <span
                style="filter: contrast(0.5)"
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- right part -->
    <!-- price and image of product with button 'buy'-->
    <div class="col-md-6 offset-md-3 offset-lg-0 col-lg-3 pt-5 mt-5 mt-lg-0">
      <div style="display: flex">
        <div class="pr-4">
          <img
            style="height: 50px; max-width: 125px"
            [src]="service.GetImage(product)"
          />
        </div>
        <div style="align-self: center">
          <span style="font-weight: 600"
            >{{ nameOfCategory }} {{ product.make }} {{ product.name }}</span
          >
        </div>
      </div>
      <div class="my-4">
        <h4>{{ product.price }} USD</h4>
        <div>
          <button
            (click)="service.AddItemToCart(product)"
            data-toggle="modal"
            data-target="#shoppingCart"
            class="btn btn-success col-12"
          >
            Купить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
