<!-- <h1 id="tableLabel">All cpus</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!proceccors"><em>Loading...</em></p>

<table
  class="table table-striped"
  aria-labelledby="tableLabel"
  *ngIf="proceccors"
>
  <thead>
    <tr>
      <th>id</th>
      <th>make</th>
      <th>family</th>
      <th>socket</th>
      <th>generation</th>
      <th>countOfCores</th>
      <th>graphics</th>
      <th>countOfThreads</th>
      <th>frequancyMax</th>
      <th>frequancyStandart</th>
      <th>countOfMemoryChannels</th>
      <th>memoryType</th>
      <th>techProcess</th>
      <th>typeOfWraper</th>
      <th>unlocked</th>
      <th>purpose</th>
      <th>features</th>
      <th>images</th>
      <th>memoryMax</th>
      <th>countOfCash</th>
      <th>power</th>
      <th>coreName</th>
      <th>countryOfManufacturing</th>
      <th>countryOfBrand</th>
      <th>warranty</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let processor of proceccors">
      <td>{{ processor.id }}</td>
      <td>{{ processor.make }}</td>
      <td>{{ processor.family }}</td>
      <td>{{ processor.socket }}</td>
      <td>{{ processor.generation }}</td>
      <td>{{ processor.countOfCores }}</td>
      <td>{{ processor.graphics }}</td>
      <td>{{ processor.countOfThreads }}</td>
      <td>{{ processor.frequancyMax }}</td>
      <td>{{ processor.frequancyStandart }}</td>
      <td>{{ processor.countOfMemoryChannels }}</td>
      <td>{{ processor.memoryType }}</td>
      <td>{{ processor.techProcess }}</td>
      <td>{{ processor.typeOfWraper }}</td>
      <td>{{ processor.unlocked }}</td>
      <td>{{ processor.purpose }}</td>
      <td>{{ processor.features }}</td>
      <td>{{ processor.images }}</td>
      <td>{{ processor.memoryMax }}</td>
      <td>{{ processor.countOfCash }}</td>
      <td>{{ processor.power }}</td>
      <td>{{ processor.coreName }}</td>
      <td>{{ processor.countryOfManufacturing }}</td>
      <td>{{ processor.countryOfBrand }}</td>
      <td>{{ processor.warranty }}</td>
    </tr>
  </tbody>
</table> -->
