<!--right part - products-->
<div id="results">
  <div class="row mx-0">
    <div
      [ngClass]="view"
      class="my-3 px-0 col-md-6"
      *ngFor="let product of productsSorted"
    >
      <div class="card mx-1">
        <a [routerLink]="['/details/' + product.categoryId + '/' + product.id]">
          <div
            [ngStyle]="{
              backgroundImage: 'url(' + service.GetImage(product) + ' )'
            }"
            class="card-img"
            [title]="'Подробнее о товаре ' + product.make + ' ' + product.name"
          ></div>
          <!-- <img
            [src]="service.GetImage(product)"
            class="card-img-top"
            alt="..."
            [title]="'Подробнее о товаре ' + product.make + ' ' + product.name"
          /> -->
        </a>
        <div class="card-body">
          <div style="position: relative; padding-top: 85px">
            <h5 style="position: absolute; top: 0">
              {{ product.make }} {{ product.name }}
            </h5>
          </div>

          <!-- for cpu -->
          <div *ngIf="categoryId == service.Category.Cpu" class="card-text">
            <p class="features">
              <span>Количество ядер:</span><br />
              <span>{{ product.countOfCores }}</span>
            </p>
            <p class="features">
              <span>Количество потоков:</span><br />
              <span>{{ product.countOfThreads }}</span>
            </p>
            <p class="features">
              <span>Интегрированная графика:</span><br />
              <span>{{ product.graphics }}</span>
            </p>
          </div>

          <!-- for hdd -->
          <div *ngIf="categoryId == service.Category.Hdd" class="card-text">
            <p class="features">
              <span>Емкость диска:</span><br />
              <span>{{ product.capacity }} Гб</span>
            </p>
            <p class="features">
              <span>Скорость чтения:</span><br />
              <span>{{ product.readSpeed }} Мб/с</span>
            </p>
            <p class="features">
              <span>Скорость записи:</span><br />
              <span>{{ product.writeSpeed }} Мб/с</span>
            </p>
          </div>

          <!-- for keyboard-->
          <div
            *ngIf="categoryId == service.Category.Keyboard"
            class="card-text"
          >
            <p class="features">
              <span>Тип подключения:</span><br />
              <span>{{ product.connectionType }}</span>
            </p>
            <p class="features">
              <span>Тип интерфейса:</span><br />
              <span>{{ product.interface }}</span>
            </p>
            <p class="features">
              <span>Тип клавиатуры:</span><br />
              <span>{{ product.type }}</span>
            </p>
          </div>

          <!-- for monitor-->
          <div *ngIf="categoryId == service.Category.Monitor" class="card-text">
            <p class="features">
              <span>Диагональ монитора:</span><br />
              <span>{{ product.size }}"</span>
            </p>
            <p class="features">
              <span>Разрешение монитора:</span><br />
              <span>{{ product.resolution }}</span>
            </p>
            <p class="features">
              <span>Тип матрицы:</span><br />
              <span>{{ product.matrixType }}</span>
            </p>
          </div>

          <!-- for motherboard-->
          <div
            *ngIf="categoryId == service.Category.Motherboard"
            class="card-text"
          >
            <p class="features">
              <span>Форм фактор:</span><br />
              <span>{{ product.formFactor }}</span>
            </p>
            <p class="features">
              <span>Поддерживаемая память:</span><br />
              <span>{{ product.memorySupport }} МГц</span>
            </p>
            <p class="features">
              <span>Видео выход:</span><br />
              <span>{{ product.videoExit }}</span>
            </p>
          </div>

          <!-- for mouse-->
          <div *ngIf="categoryId == service.Category.Mouse" class="card-text">
            <p class="features">
              <span>Тип подключения:</span><br />
              <span>{{ product.connectionType }}</span>
            </p>
            <p class="features">
              <span>Интерфейс подключения:</span><br />
              <span>{{ product.interface }}</span>
            </p>
            <p class="features">
              <span>Размер мышки:</span><br />
              <span>{{ product.size }}</span>
            </p>
          </div>

          <!-- for ram-->
          <div *ngIf="categoryId == service.Category.Ram" class="card-text">
            <p class="features">
              <span>Количесто памяти:</span><br />
              <span>{{ product.capacity }} Гб</span>
            </p>
            <p class="features">
              <span>Тип памяти:</span><br />
              <span>{{ product.memoryType }}</span>
            </p>
            <p class="features">
              <span>Частота работы:</span><br />
              <span>{{ product.frequency }} ГГц</span>
            </p>
          </div>

          <!-- for ssd -->
          <div *ngIf="categoryId == service.Category.Ssd" class="card-text">
            <p class="features">
              <span>Емкость носителя:</span><br />
              <span>{{ product.capacity }} Гб</span>
            </p>
            <p class="features">
              <span>Скорость чтения:</span><br />
              <span>{{ product.readSpeed }} Мб/с</span>
            </p>
            <p class="features">
              <span>Скорость записи:</span><br />
              <span>{{ product.writeSpeed }} Мб/с</span>
            </p>
          </div>

          <!-- for videocard -->
          <div
            *ngIf="categoryId == service.Category.Videocard"
            class="card-text"
          >
            <p class="features">
              <span>Объем видеопамяти:</span><br />
              <span>{{ product.memorySize }} Гб</span>
            </p>
            <p class="features">
              <span>Тип памяти:</span><br />
              <span>{{ product.memoryType }}</span>
            </p>
          </div>

          <!-- bottom of card: -->
          <!-- price and add to cart button -->
          <div class="card-bottom">
            <hr />
            <div class="row mx-0">
              <div class="col-9 p-0">
                <p>{{ product.price }} USD</p>
                <span>Есть в наличии</span>
              </div>
              <div class="col-3 p-0 text-right">
                <i
                  title="Добавить в корзину"
                  data-toggle="modal"
                  data-target="#shoppingCart"
                  (click)="service.AddItemToCart(product)"
                  class="fa fa-shopping-cart fa-2x link"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
