<!--right part - products-->
<div>
  <div class="row">
    <div
      [ngClass]="view"
      class="my-3 px-0"
      *ngFor="let product of productsSorted"
    >
      <div class="card">
        <a [routerLink]="['/details/' + product.categoryId + '/' + product.id]">
          <img
            [src]="service.GetImage(product)"
            class="card-img-top"
            alt="..."
            [title]="'Подробнее о товаре ' + product.name"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>

          <!-- for cpu -->
          <div
            *ngIf="categoryId == service.Category.Cpu"
            class="card-text pb-4"
          >
            <p>
              <span class="features">Количество ядер:</span>
              <span>{{ product.countOfCores }}</span>
            </p>
            <p>
              <span class="features">Количество потоков:</span>
              <span>{{ product.countOfThreads }}</span>
            </p>
            <p>
              <span class="features">Интегрированная графика:</span>
              <span>{{ product.graphics }}</span>
            </p>
          </div>

          <!-- for hdd -->
          <div
            *ngIf="categoryId == service.Category.Hdd"
            class="card-text pb-4"
          >
            <p>
              <span class="features">Емкость диска:</span>
              <span>{{ product.capacity }} Гб</span>
            </p>
            <p>
              <span class="features">Скорость чтения:</span>
              <span>{{ product.readSpeed }} Мб/с</span>
            </p>
            <p>
              <span class="features">Скорость записи:</span>
              <span>{{ product.writeSpeed }} Мб/с</span>
            </p>
          </div>

          <!-- for keyboard-->
          <div
            *ngIf="categoryId == service.Category.Keyboard"
            class="card-text pb-4"
          >
            <p>
              <span class="features">Тип подключения:</span>
              <span>{{ product.connectionType }}</span>
            </p>
            <p>
              <span class="features">Тип интерфейса:</span>
              <span>{{ product.interface }}</span>
            </p>
            <p>
              <span class="features">Тип клавиатуры:</span>
              <span>{{ product.type }}</span>
            </p>
          </div>

          <!-- for monitor-->
          <div
            *ngIf="categoryId == service.Category.Monitor"
            class="card-text pb-4"
          >
            <p>
              <span class="features">Диагональ монитора:</span>
              <span>{{ product.size }}"</span>
            </p>
            <p>
              <span class="features">Разрешение монитора:</span>
              <span>{{ product.resolution }}</span>
            </p>
            <p>
              <span class="features">Тип матрицы:</span>
              <span>{{ product.matrixType }}</span>
            </p>
          </div>

          <!-- for motherboard-->
          <div
            *ngIf="categoryId == service.Category.Motherboard"
            class="card-text pb-4"
          >
            <p>
              <span class="features">Форм фактор:</span>
              <span>{{ product.formFactor }}</span>
            </p>
            <p>
              <span class="features">Поддерживаемая память:</span>
              <span>{{ product.memorySupport }} МГц</span>
            </p>
            <p>
              <span class="features">Видео выход:</span>
              <span>{{ product.videoExit }}</span>
            </p>
          </div>

          <!-- for mouse-->
          <div
            *ngIf="categoryId == service.Category.Mouse"
            class="card-text pb-4"
          >
            <p>
              <span class="features">Тип подключения:</span>
              <span>{{ product.connectionType }}</span>
            </p>
            <p>
              <span class="features">Интерфейс подключения:</span>
              <span>{{ product.interface }}</span>
            </p>
            <p>
              <span class="features">Размер мышки:</span>
              <span>{{ product.size }}</span>
            </p>
          </div>

          <!-- for ram-->
          <div
            *ngIf="categoryId == service.Category.Ram"
            class="card-text pb-4"
          >
            <p>
              <span class="features">Количесто памяти:</span>
              <span>{{ product.capacity }} Гб</span>
            </p>
            <p>
              <span class="features">Тип памяти:</span>
              <span>{{ product.memoryType }}</span>
            </p>
            <p>
              <span class="features">Частота работы:</span>
              <span>{{ product.frequency }} ГГц</span>
            </p>
          </div>

          <!-- for ssd -->
          <div
            *ngIf="categoryId == service.Category.Ssd"
            class="card-text pb-4"
          >
            <p>
              <span class="features">Емкость носителя:</span>
              <span>{{ product.capacity }} Гб</span>
            </p>
            <p>
              <span class="features">Скорость чтения:</span>
              <span>{{ product.readSpeed }} Мб/с</span>
            </p>
            <p>
              <span class="features">Скорость записи:</span>
              <span>{{ product.writeSpeed }} Мб/с</span>
            </p>
          </div>

          <!-- for videocard -->
          <div
            *ngIf="categoryId == service.Category.Videocard"
            class="card-text pb-4"
          >
            <p>
              <span class="features">Объем видеопамяти:</span>
              <span>{{ product.memorySize }} Гб</span>
            </p>
            <p>
              <span class="features">Тип памяти:</span>
              <span>{{ product.memoryType }}</span>
            </p>
          </div>

          <!-- bottom of card: -->
          <!-- price and add to cart button -->
          <div class="card-bottom">
            <hr />
            <div class="row mx-0">
              <div class="col-9 p-0">
                <p>{{ product.price }} USD</p>
                <span>Есть в наличии</span>
              </div>
              <div class="col-3 p-0 text-right">
                <i
                  title="Add to cart"
                  data-toggle="modal"
                  data-target="#shoppingCart"
                  (click)="service.AddItemToCart(product)"
                  class="fa fa-shopping-cart fa-2x link"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
