<footer class="dark mt-5">
  <hr />
  <div class="footerTop">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-3 mx-auto list">
          <small>Помощь</small>
          <ul class="list-unstyled">
            <li>
              <a [routerLink]="['/']">Доставка и оплата</a>
            </li>
            <li>
              <a [routerLink]="['/']">Кредит</a>
            </li>
            <li>
              <a [routerLink]="['/']">Гарантия</a>
            </li>
            <li>
              <a [routerLink]="['/']">Возврат товара</a>
            </li>
            <li>
              <a [routerLink]="['/']">Сервисные центры</a>
            </li>
          </ul>
        </div>

        <hr class="clearfix w-100 d-md-none" />

        <div class="col-md-3 mx-auto list">
          <small>Информация о компании</small>
          <ul class="list-unstyled">
            <li>
              <a [routerLink]="['/']">О нас</a>
            </li>
            <li>
              <a [routerLink]="['/']">Условия использования сайта</a>
            </li>
            <li>
              <a [routerLink]="['/']">Контакты</a>
            </li>
            <li>
              <a [routerLink]="['/']">Вакансии</a>
            </li>
          </ul>
        </div>

        <hr class="clearfix w-100 d-md-none" />

        <div class="col-md-3 mx-auto list">
          <small>Сервисы</small>
          <ul class="list-unstyled">
            <li>
              <a [routerLink]="['/']">PC Shop Prime</a>
            </li>
            <li>
              <a [routerLink]="['/']">Перевод денег с карты на карту</a>
            </li>
            <li>
              <a [routerLink]="['/']">Подарочные сертификаты</a>
            </li>
          </ul>
        </div>

        <hr class="clearfix w-100 d-md-none" />

        <div class="col-md-3 mx-auto list">
          <small>Партнерам</small>
          <ul class="list-unstyled">
            <li>
              <a [routerLink]="['/']">Продавать на PC Shop</a>
            </li>
            <li>
              <a [routerLink]="['/']">Сотрудничество с нами</a>
            </li>
            <li>
              <a [routerLink]="['/']">Styleguide и логотип</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center py-2" style="background-color: #909090">
    <span>© Интернет-магазин </span>
    <span class="mx-1" style="color: white">PC Shop™</span>
    <span> 2010–2020 </span>

    <span class="ml-2" style="color: white"
      >ТМ используется на основании лицензии правообладателя PC Shop LTD</span
    >
  </div>
</footer>
