<h3 class="mb-5">Оформление заказа</h3>
<div class="row">
  <div class="col-lg-8 col-12">
    <!-- Order -->
    <div class="card my-3">
      <div class="card-body">
        <div>
          <div style="display: flex; justify-content: space-between">
            <h4>Заказ №1</h4>
            <span
              >на сумму: <strong>{{ service.PriceTotal() }} USD</strong>
            </span>
          </div>
          <div>
            <hr />
            <ul *ngIf="cart" class="list-unstyled">
              <li class="my-5" *ngFor="let item of cart">
                <div class="row" style="align-items: center">
                  <!-- cart item -->
                  <div class="col-3 pr-0 col-md-2">
                    <img
                      style="max-width: 100px; height: 75px"
                      [src]="service.GetImage(item.product)"
                    />
                  </div>
                  <div class="col-7 text-right col-md-3">
                    <span>{{
                      service.getNameById(item.product.categoryId)
                    }}</span>
                    <br />
                    <small>{{ item.product.make }}</small> <br />
                    <small>{{ item.product.name }}</small>
                  </div>
                  <div class="col-2 col-md-1 px-0">{{ item.count }} шт.</div>
                  <div class="col-6 mt-4 mt-md-0 col-md-3">
                    <div>{{ item.product.price }} USD</div>
                    <small>цена за 1 шт.</small>
                  </div>
                  <div class="col-6 mt-4 mt-md-0 col-md-3">
                    <div>{{ item.count * item.product.price }} USD</div>
                    <small>итого за {{ item.count }} шт.</small>
                  </div>
                </div>
                <hr />
              </li>
            </ul>
            <div class="row mx-0 text-center">
              <div class="col-12 col-md-4">
                <button
                  data-toggle="modal"
                  data-target="#shoppingCart"
                  class="btn btn-outline-info"
                >
                  Изменить заказ
                </button>
              </div>
              <div class="col-12 col-md-4 mt-4 mb-5 my-md-0 px-md-0">
                <a [routerLink]="['/']" class="btn btn-outline-success">
                  Продолжить покупки
                </a>
              </div>
              <div class="col-12 col-md-4">
                <button
                  data-toggle="modal"
                  data-target="#cancelOrderModal"
                  class="btn btn-outline-danger"
                >
                  Отменить заказ
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- promocode -->
  <div class="col-lg-4 col-12">
    <div
      class="card my-3"
      style="width: 18rem; background-color: rgb(247, 247, 247)"
    >
      <div class="card-body">
        <h5 class="mb-2">Промокод</h5>

        <!-- input promo code -->
        <div>
          <input
            type="text"
            class="form-control"
            (input)="InputForPromocodeChanged($event.target.value)"
            style="width: 100px; display: inline"
            placeholder="код"
            title="Введите промокод чтобы получить скидку. Например, RENAT"
          />
          <span
            style="margin-left: 25px; font-weight: 600; color: green"
            *ngIf="discount"
            >Скидка {{ discount }} %</span
          >
        </div>
        <div>
          <small style="font-size: 10px"
            >Введите промокод чтобы получить скидку</small
          >
        </div>

        <!-- <p *ngIf="promocode">
          <strong>{{ promocode.name }}</strong>
          <small class="ml-3">-{{ promocode.percents }}% на все товары</small>
        </p> -->
      </div>
    </div>

    <!-- bonus -->
    <div class="card my-3" style="width: 18rem">
      <div class="card-body">
        <p class="card-text">Бонусы пока не доступны</p>
      </div>
    </div>

    <!-- total -->
    <div
      class="card"
      style="width: 18rem; background-color: rgb(247, 247, 247)"
    >
      <div class="card-body">
        <h4 class="card-title">Итого</h4>
        <p *ngIf="discount">
          <span>С учетом промокода:</span>
        </p>
        <div class="card-text">
          <div
            *ngIf="!discount"
            style="display: flex; justify-content: space-between"
          >
            <h5>К оплате</h5>
            <h5>{{ service.PriceTotal() }} USD</h5>
          </div>
          <div *ngIf="discount">
            <div style="text-decoration: line-through; color: gray">
              <p>К оплате: {{ service.PriceTotal() }} USD</p>
            </div>
            <div>
              <h4>
                <span>К оплате:</span>
                <span class="ml-4"
                  >{{
                    service.PriceTotal() -
                      (service.PriceTotal() * discount) / 100
                  }}
                  USD</span
                >
              </h4>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-success col-12 my-3">Заказ подтверждаю</a>
        <p>
          <small
            >Получение заказа от 5 000₴ только по паспорту (Закон от 06.12.2019
            № 361-IX)</small
          >
        </p>
        <p>
          <small
            >Подтверждая заказ, я принимаю условия
            <a href="#">пользовательского соглашения</a></small
          >
        </p>
      </div>
    </div>
  </div>
</div>

<!-- modal for canceling order -->
<div
  class="modal fade"
  id="cancelOrderModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Отмена заказа</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы действительно хотите отменить заказ ? <br />
        Все товары будут удалены из корзины
        <div class=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
          Закрыть окно
        </button>

        <button
          type="button"
          data-dismiss="modal"
          (click)="CancelOrder()"
          class="btn btn-outline-danger"
        >
          Отменить заказ
        </button>
      </div>
    </div>
  </div>
</div>
