<h3 class="mb-5">Оформление заказа</h3>
<div class="row">
  <div class="col-8">
    <!-- log form -->
    <div>
      <h5>Ваши контактные данные</h5>
      <div class="my-3">
        <a href="#">Я новый покупатель</a>
        <a class="ml-5" href="#">Я постоянный клиент</a>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="lastName">LastName</label>
            <input class="form-control" type="text" id="lastName" />
          </div>
        </div>
      </div>
    </div>

    <!-- Order -->
    <div class="card my-3">
      <div class="card-body">
        <div>
          <div style="display: flex; justify-content: space-between">
            <h4>Заказ №1</h4>
            <span
              >на сумму: <strong>{{ service.PriceTotal() }} USD</strong>
            </span>
          </div>
          <div>
            <hr />
            <ul *ngIf="cart" class="list-unstyled">
              <li class="my-5" *ngFor="let item of cart">
                <div class="row" style="align-items: center">
                  <div class="col-2">
                    <img
                      style="max-width: 100px; height: 75px"
                      [src]="service.GetImage(item.product)"
                    />
                  </div>
                  <div class="col-3">
                    {{ item.product.name }}
                  </div>
                  <div class="col-2">{{ item.count }} шт.</div>
                  <div class="col-2">{{ item.product.price }} USD</div>
                  <div class="col-3">
                    всего: {{ item.count * item.product.price }} USD
                  </div>
                </div>
                <hr />
              </li>
            </ul>
            <div style="display: flex; justify-content: space-between">
              <button
                data-toggle="modal"
                data-target="#shoppingCart"
                class="btn btn-outline-info"
              >
                Изменить заказ
              </button>
              <a [routerLink]="['/']" class="btn btn-outline-success">
                Продолжить покупки
              </a>
              <button
                data-toggle="modal"
                data-target="#cancelOrderModal"
                class="btn btn-outline-danger"
              >
                Отменить заказ
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- promocode -->
  <div class="col-4">
    <div class="card my-3" style="width: 18rem">
      <div class="card-body">
        <p class="card-text">Промокод</p>
        <p *ngIf="promocode">
          <strong>{{ promocode.name }}</strong>
          <small class="ml-3">-{{ promocode.percents }}% на все товары</small>
        </p>
      </div>
    </div>

    <!-- bonus -->
    <div class="card my-3" style="width: 18rem">
      <div class="card-body">
        <p class="card-text">Бонусы пока не доступны</p>
      </div>
    </div>

    <!-- total -->
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h4 class="card-title">Итого</h4>
        <p *ngIf="promocode">
          <span>С учетом промокода:</span>
          <strong class="ml-2">{{ promocode.name }}</strong>
        </p>
        <div class="card-text">
          <div
            *ngIf="!promocode"
            style="display: flex; justify-content: space-between"
          >
            <h5>К оплате</h5>
            <h5>{{ service.PriceTotal() }} USD</h5>
          </div>
          <div *ngIf="promocode">
            <div style="text-decoration: line-through; color: gray">
              <p>К оплате: {{ service.PriceTotal() }} USD</p>
            </div>
            <div>
              <h4>
                <span>К оплате:</span>
                <span class="ml-4"
                  >{{
                    service.PriceTotal() -
                      (service.PriceTotal() * promocode.percents) / 100
                  }}
                  USD</span
                >
              </h4>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-success col-12 my-3">Заказ подтверждаю</a>
        <p>
          <small
            >Получение заказа от 5 000₴ только по паспорту (Закон от 06.12.2019
            № 361-IX)</small
          >
        </p>
        <p>
          <small
            >Подтверждая заказ, я принимаю условия
            <a href="#">пользовательского соглашения</a></small
          >
        </p>
      </div>
    </div>
  </div>
</div>

<!-- modal for canceling order -->
<div
  class="modal fade"
  id="cancelOrderModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Отмена заказа</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы действительно хотите отменить заказ ? <br />
        Все товары будут удалены из корзины
        <div class=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
          Закрыть окно
        </button>

        <button
          type="button"
          data-dismiss="modal"
          (click)="CancelOrder()"
          class="btn btn-outline-danger"
        >
          Отменить заказ
        </button>
      </div>
    </div>
  </div>
</div>
